.sidenav {
    width: 210px;
    transition: width 0.4s ease-in-out;
    height: relative;
    background-color: #344E41;
    padding-top: 28px;
    position: sticky;
    z-index: 2;
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.2s ease-in-out;
    width: 60px;
    z-index: 2;
    position: relative;
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.linkText {
    padding-left: 16px;

}
.linkTextClosed {
    composes: linkText;
    visibility: hidden;
}

.sideitem:hover {
    background-color: #244f7d1c;

}
.menuBtn {
    align-self: center;
    align-self: flex-start;  
    justify-self: flex-end;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}


