body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #588157;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  width: 100%;
  z-index: 1;
} */

.collapse {
  display: flex;
  z-index: 20;
}

main {
  padding: 10px;
  }

  .middle-section{
    background-color: #181a1b;
    padding: 20px;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

.bottom-section{
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.homeccard {
  padding: 25px;
  display: inline-grid;
}

.recProfImage {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.commentbox {
  outline: 2px solid #dadc70;
  border-radius: 10px;
}

.userHomePic {
  border-radius: 10px;
  height: 200px;
}

.userHomePage {
  position: absolute;
  top: 63%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.userText {
  text-align: center;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.spacer2 {
  padding-top: 7px;
}

link {
  color: red;
}

button {
  cursor: pointer;
}

.dash__content {
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  color: white;
}


/* # recipeapp
color pallete: #DAD7CD, #A3B18A, #588157, #3A5A40, #344E41 -green/grey */